

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.flex-center {
  align-items: center;
}

.strecht {
  align-items: stretch;
}

.baseline .item {
  flex: 1;
}

.baseline .item:first-child {
  padding-top: 20px;
}
